<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Jonathan Ben-Ammi">
	<title>title</title>
	<meta name="description" content="">
	<link rel="stylesheet" type="text/css" href="/static/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="/static/css/materialize_icons.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script src="/static/js/jquery-2.2.3.js"></script>
	<script src="/static/js/jquery-ui.js"></script>
	<script src="/static/js/materialize.js"></script>
	<script type="text/javascript" src="">
		$(document).ready(function() {


		})
	</script>
</head>
<body>
	<nav>
		<div class="nav-wrapper blue-grey">
		<a href="#" class="brand-logo light"><dfn>SurveyForm</dfn></a>

		</div>
	</nav>
	<br>
	<br>
	<div class="container row">
		<form action="/process" method="post" class="col s6 offset-s3">
			<div class="row">
				<label>Your Name:</label>
				<input type="text" name="name" />
			</div>
			<div class="row">
				<label>Dojo Location:</label>
				<select name="location">
					<option value="San Diego">San Diego</option>
					<option value="Seattle">Seattle</option>
					<option value="Washington DC">Washington DC</option>
					<option value="Chicago">Chicago</option>
					<option value="Dallas">Dallas</option>
					<option value="Los Angeles">Los Angeles</option>
				</select>
			</div>
			<div class="row">
				<label>Favorite Language:</label>
				<select name="language">
					<option value="Javascript">Javascript</option>
					<option value="Ruby">Ruby</option>
					<option value="PHP">PHP</option>
					<option value="IOS">IOS</option>
					<option value="Python">Python</option>
				</select>
			</div>
			<div class="row">
				<label>Comment (optional):</label>
				<textarea class="col s12" name="comment"></textarea>
			</div>
			<div>
				<button class="btn waves-effect waves-light blue-grey lighten-1 right" type="sumbit">Submit</button>
			</div>
		</form>
	</div>
</body>
</html>